<h1>
    {{title}}
</h1>


<a [routerLink]="''">Quem somos</a>

<a [routerLink]="[{ outlets: { negrito: ['bem-vindo'] } }]">Bem vindo</a>
<a [routerLink]="[{ outlets: { italico: ['contato'] } }]">Contato</a>

<a [routerLink]="'prospecto'">Prospecto</a>
<a [routerLink]="['prospecto', {outlets: {mestre: ['pessoa'], detalhe: ['endereco']  }}]">Prospecto</a>


<router-outlet></router-outlet>

<B>
    <router-outlet name="negrito"></router-outlet>
</B>

<i>
    <router-outlet name="italico"></router-outlet>
</i>
